.feed {
    width: 598px;
    height: fit-content;
    min-height: 100vh;
    border-right: 1px solid #38444E;
}

.placeholder {
    height: 53px;
}

.homeButton {
    font-weight: bold;
    cursor: pointer;
    width: 598px;
    padding: 13px 0px 14px 16px;
    font-size: 19px;
    letter-spacing: .2px;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(21, 32, 43, .8);
    backdrop-filter: blur(10px);
    top: 0px;
    display: flex;
    align-items: center;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: none;
}

@media only screen and (max-width: 500px) {
    .avatar {
        display: inline;
    }
    .homeText {
        font-size: 15px;
    }
}