.footer {
    width: 390px;
    height: 100vh;
}

.footerContent {
    margin: 5px 10px 10px 0px;
    padding-left: 30px;
    width: 350px;
    position: fixed;
}

.terms {
    padding: 0px 16px;
}

.policies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 5px;
    margin-bottom: 5px;
}

.term, .copyright {
    color: rgb(136, 153, 166);
    font-size: 13px;
    text-decoration: none;
}

.term:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1094px) {
    .footer {
        width: 330px;
    }
    
    .footerContent {
        margin: 5px 10px 10px 0px;
        padding-left: 20px;
        width: 290px;
    }
}

@media only screen and (max-width: 1004px) {
    .footer {
        /* display: none; */
        max-width: 117px;
        visibility: hidden;
    }
}

@media only screen and (max-width: 830px) {
    .footer {
        display: none;
    }
}