
.link{
    font-size: 15px;
    color: blue; 
 }
 .first{
     padding: 10px;
 }
 .form{
     margin-top: -20px;
 }
 .form input{
     color: white;
 }
 .form label{
     color: grey;
 }
 
 .form button{
     background-color: #195D8E;
     border: none;
     border-radius: 20px;
     color: white;
     padding: 7px;
     width: 80px;
     height: 30px;
     font-weight: 700px;
     float: right;
     margin-right: 5px;
 }
 .heading{
     display: flex;
     align-items: center;
      gap: 40px;
 }

 @media only screen and (min-width: 992px) {
    .heading .icon{
      display: none;
    }
 }


